$Colors: (
    main: #ffff,
    secondary: #B1B0B3,
    accent: #BDF5C6,
    link: #A9E6FE,
    dark: #A3A3A3,
    grad: linear-gradient(#B1B0B3, #ffff),
);

$ColorsDark: (
    main: #F6F7EB,
    secondary: #555358,
    accent: #6EEB83,
    link: #42CAFD,
    dark: #353535,
);

$black: black;
$white: white;


@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
    text-decoration: none;   
}

a:-webkit-any-link {
    text-decoration: none;
    color: $black;
  }

body {
    font-style: normal;
    background: $white;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    @include transition(.25s ease-in-out);
    cursor: pointer;

    &:hover {
        color: map-get($Colors, accent);
        @include transition(.25s ease-in-out);
        }

    &:active {
        color: $black;
        text-decoration: none;
    }

    }

.container-fluid {
    line-height: 24px;
    height: 550px;
}

