@import "_config.scss";

header {
    position: relative;
    display: block;
    width: 100%;
    height: 90px;
    //background: map-get($Colors, secondary);
    color: $black;

    .logo-settings {
        position: absolute;
        top: 70%; left: 90%;
        
    }

    nav, nav ul, nav ul li {
        margin: 0;
        padding: 0;
    }

    nav {
        position: absolute;
        top: 55%;
        width: 100%;
        text-align: center;
        
        

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;
            

            &.last {
                margin: 0;

            }

            a {
                font-size: 19px;
                line-height: normal;
                color: $black;
                
            }
        }
    }

    .dropdown {

        ul {
            padding-left: 0;
            float: right;
            margin: 40px 5px 0 0;
            border: 2px solid rgb(12, 12, 12);
            border-radius: 5px;
            padding: 3px;
            z-index: 2;
            background: rgb(255, 255, 255);
        }

        li {
            list-style: none;
            display: block;
            
        }

        li button{
            width: 100%;
            padding: 0;
            border: none;
            background: none;
            cursor: pointer;

            &:hover {
                background: map-get($Colors, accent)
            }
        }
    }

    .logo{
        margin: 50px 5% 0 0;
        float: right;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;        
        
        &:hover {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
          }        
    }

}

.mainhr {
    width: 50%;
    border: 1.5px solid map-get($Colors, accent);
    border-radius: 5px;
    min-width: 220px;
}

hr {
    width: 50%;
    min-width: 220px;
}

.hrFooter {
    width: 220px;
}

.home {
    margin-top: 2%;
}


.homeList {
    list-style: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    
    li {
        background: url(./check-mark2.png) left center no-repeat; 
        padding-left: 20px;
        width: 120px; 
    }
}

.formInput{
    border: 1px solid $black;
    border-radius: 5px;
}


.formButton {
    padding: 1;
    border: 2px solid map-get($Colors, accent);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
    background: none;

    &:hover {
        background-color: map-get($Colors, accent);
        color: $white;
        order: 2px solid $white;
        border-radius: 5px;
    }

    &:active {
    border: 2px solid map-get($Colors, accent);
    border-radius: 5px;
    background: none;
    }
}

.redtext {
    color: red;
}

.weather {
    width: 100%;
    text-align: center;
}

.table {
    width: 60%;   
    margin: 20px auto; 
    

    p {
        font-weight: bold;
        font-size: 23px;
        @include animation('slide-down 5s');
    }

    td {
        font-size: 18px;
        text-align: center;
        padding: 5px;
    }
}

footer {
    text-align: center;
    margin-top: 80px;
}