@import "_config.scss";

header {
    position: relative;
    display: block;
    width: 100%;
    height: 90px;
    //background: map-get($Colors, secondary);
    color: $black;

    .logo-settings {
        position: absolute;
        top: 70%; left: 90%;
        @include translateY(-50%);
    }

    nav, nav ul, nav ul li {
        margin: 0;
        padding: 0;
    }

    nav {
        position: absolute;
        top: 70%; right: 45%;
        @include translateY(-50%);

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;

            &.last {
                margin: 0;

            }

            a {
                font-size: 19px;
                line-height: normal;
                color: $black;
                
            }
        }
    }

    .dropdown {
        float: right;
        top: 55%;
        right: 20%;

        ul {
            padding-left: 0;
            background: rgb(240, 238, 238);
            border: 2px solid #6EEB83;
  border-radius: 5px;
        }

        li {
            list-style: none;
        }

        li button{
            padding: 0;
            border: none;
            background: none;
        }
    }

    .logo{

        height: 25px;
        border-radius: 50%;
        -webkit-transition: -webkit-transform 1.8s ease-in-out;
                transition:         transform 1.8s ease-in-out;
        cursor: pointer;        
        
        &:hover {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
          }        
    }

}


