@import "_config.scss";

header {
    position: relative;
    display: block;
    width: 100%;
    height: 90px;
    //background: map-get($Colors, secondary);
    color: $black;

    .logo-settings {
        position: absolute;
        top: 70%; left: 90%;
        
    }

    nav, nav ul, nav ul li {
        margin: 0;
        padding: 0;
    }

    nav {
        position: absolute;
        top: 55%;
        width: 100%;
        text-align: center;
        
        

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;
            

            &.last {
                margin: 0;

            }

            a {
                font-size: 19px;
                line-height: normal;
                color: $black;
                
            }
        }
    }

    .dropdown {
        
        float: right;
        top: 55%;
        right: 20%;
        

        ul {
            padding-left: 0;

            
            border-bottom: 2px solid rgb(94, 94, 94);
            border-radius: 5px;
            
        }

        li {
            list-style: none;
            
        }

        li button{
            width: 100%;
            padding: 0;
            border: none;
            background: none;
            background: rgb(240, 238, 238);
        }
    }

    .logo{
        right: 20%;
        height: 25px;
        border-radius: 50%;
        -webkit-transition: -webkit-transform 1.8s ease-in-out;
                transition:         transform 1.8s ease-in-out;
        cursor: pointer;        
        
        &:hover {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
          }        
    }

}

.formInput{
    border: 1px solid $black;
    border-radius: 5px;
}


.formButton {
    padding: 1;
    border: 2px solid map-get($Colors, accent);
    border-radius: 5px;
    margin-left: 10px;
    background: none;

    &:hover {
        background-color: map-get($Colors, accent);
        color: $white;
        order: 2px solid $white;
        border-radius: 5px;
    }

    &:active {
    border: 2px solid map-get($Colors, accent);
    border-radius: 5px;
    background: none;
    }
}

